#mainCtr{
    padding-top: 55px !important;
}
.tf_Applogo{
    position: relative;
    top: 10px;
}
.pageName{
    padding: 20px 0px 5px 25px; 
    float: left;
    font-weight: 500;
    font-size: x-large;
}

