<div class="tf_viewContainer">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="designView active">
                    <div class="tf_mainwrapper">
                        <div class="pageName">
                            LLM Leaderboard
                        </div>
                        
                        <div class="clearfix tf_mainCtr ctr_main" id="mainCtr">
                            <div class="container-fluid" style="padding: 0px 10px;">
                                <div class="tf_rightMainContent nomarL_mb" id="mainrightCnt">
                                    <div class="tf_innerContentWrapper">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div>
                                                    <router-outlet></router-outlet>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>