<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Leaderboard</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.typekit.net/zew3xka.css">
  <link rel="stylesheet" href="https://use.typekit.net/zew3xka.css">
  <link rel="stylesheet" href="assets/css/gridstack.min.css" />
  <link rel="stylesheet" href="assets/css/gridstack-extra.css">


  <script src="assets/js/gridstack.all.js"></script>
</head>
<body>
  <app-model-leaderboard></app-model-leaderboard>
</body>
</html>
