@import "src/styles.scss";

.metadata-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 12px;
  background-color: white;
}

.metadata-table th,
.metadata-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.metadata-table th {
  width: 39% !important;
  background-color: #f2f2f2;
  text-align: left;
  font-weight: bold;
}

.metadata-table td {
  text-align: left;
}

.content-scrollable {
  line-height: 1.2em; /* Set the line height */
  height: calc(1.2em * 3); /* Calculate max-height based on line-height */
  overflow-y: auto;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  white-space: normal;
}

.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-stage-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .owl-theme .owl-nav {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
  & .owl-next,
  & .owl-prev {
    background-color: rgba(42, 64, 103, 0);
    color: $primary-color;
    font-size: 24px;
    font-weight: bold;

    &:hover {
      background-color: rgba(42, 64, 103, 0);
      color: $primary-color;
    }
  }
}

// carousel custom navigation buttons
.custom-btn {
  background-color: $primary-color;
}
