::ng-deep.flex flex-col h-full{
    background: white !important;
}


.font-display{
    font-family: "roboto", Arial, sans-serif !important;
  }
  
  .select-dropdown{
    border-radius: 5px; /* Adjust as needed */
    /* color: black; */
    font-family: Roboto, Helvetica Neue, sans-serif;
    outline: none !important;
    box-shadow: none !important;
    font-size: inherit;
    line-height: 3em;
  }