<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Transformer Foundry</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <base href="./">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.typekit.net/zew3xka.css">
  <link rel="stylesheet" href="https://use.typekit.net/zew3xka.css">
  <link rel="stylesheet" href="assets/css/gridstack.min.css" />
  <link rel="stylesheet" href="assets/css/gridstack-extra.css">


  <script src="assets/js/gridstack.all.js"></script>
</head>

<body>
  <app-root></app-root>
</body>

</html>