# ===============================================================================================================#
# Copyright 2025 Infosys Ltd.                                                                                    #
# Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at  #
# http://www.apache.org/licenses/                                                                                #
# ===============================================================================================================#

name: COMPONENT_NAME 
description: |
  Run COMPONENT_NAME.
  
inputs:
- {name: filename, type: str, default: '{}', description: 'python file name to execute.'}
- {name: Parameters, type: JsonObject, default: '{}', description: 'Map with python paramater values.'}
- {name: Log path, type: str, default: '{}', description: 'python log file name to write logs.'}
- {name: rgex, type: str, default: '{}', description: 'regex for metrics.'}
- {name: metricname, type: str, default: '{}', description: 'mericname.'}
- {name: run id, type: str, default: '{}', description: 'run id.'}
- {name: Packages to install, optional: true, type: JsonArray, default: '', description: 'Python packages to install'}
- {name: Input data, optional: true, description: 'Optional data that can be passed to python. '}
outputs:
- {name: Output data, description: 'Directory with any output data. '}

implementation:
  container:
    image: COMPONENT_BASE_IMAGE
    command:
    - sh
    - -exc
    - |
      input_python_file="$0"
      arguments="$1"
      log_path="$2"
      regex="$3"
      metricname="$4"
      run_id="$5"
      packages_to_install="$6"
      input_data_path="$7"
      output_data_path="$8"
      output_data_path='/tmp/outputs/Output_data/data'
      file=$(basename $log_path)
      logdir=$(dirname $log_path)
      mkdir -p "$output_data_path"
      mkdir -p "$logdir"
      mkdir -p "/tmp/mlogs/"
      echo "$5"
      echo "$2"
      mkdir -p "/output/genModel/"
      chmod -R 777 "/output/genModel/"
      inputArtifacts="S3_INPUT_ARTIFACTS"
      outputArtifacts="S3_OUTPUT_ARTIFACTS"
      chmod 777 /s3util/default_packages.sh
      chmod 777 /s3util/install_packages.sh
      chmod 777 /s3util/utils3.sh
      #sh -c "python3 -m pip install --upgrade --quiet pytest-shutil zipfile38 mime typing minio boto3 botocore --no-cache"
      sh -c "/s3util/default_packages.sh"
      dependancyFile="DEPEDANCY_FILE_PATH"
      dependencyFileName="DEPENDANCY_FILE_NAME"
      #sh -c "ls -ltr /s3util"
      sh -c "/s3util/utils3.sh download $inputArtifacts /input/artifacts"
      sh -c "ls -ltr /input/artifacts"
      #sh -c "python3 /s3util/s3utilityservice.py download $inputArtifacts '/input/artifacts/'"
      cp -r /input/artifacts/* ./
      #sh -c "python3 /s3util/s3utilityservice.py download $dependancyFile './' "
      sh -c "/s3util/utils3.sh download $dependancyFile './' "
      [ $dependancyFile != "NA" ] && [ $dependancyFile != "null" ] && [cp $dependencyFileName /s3util/requirements.txt] && /s3util/install_packages.sh || echo "NOT ABLE TO INSTALL PACKAGE DEPENDANCIES" 
      cp /s3util/gpu_util.py .
      # Running the python       
      #ls -ltr /app
      echo $input_python_file
      echo "$input_python_file"
      #python3 gpu_util.py;
      [ -f "/app/new_gpu_util.py" ] && CUDA_VISIBLE_DEVICES=$(python3 /app/new_gpu_util.py) || CUDA_VISIBLE_DEVICES=$(python3 /app/gpu_util.py)
      CUDA_VISIBLE_DEVICES="$CUDA_VISIBLE_DEVICES"
      [ -f "$input_python_file" ] && sh -c "CUDA_VISIBLE_DEVICES=$CUDA_VISIBLE_DEVICES python3 $input_python_file $arguments" || echo "File not exists in Home path"
      input_python_file=./scripts/$input_python_file
      echo "$input_python_file"
      [ -f $input_python_file ] && sh -c "CUDA_VISIBLE_DEVICES=$CUDA_VISIBLE_DEVICES python3 $input_python_file $arguments" || echo "File not exists in inputArtifacts path"

      #sh -c "CUDA_VISIBLE_DEVICES=0,1,2,3 python3 $input_python_file $arguments"  
      #sh -c "ls -ltr /tmp/"
      #sh -c "ls -ltr $logdir"
      
      sleep 4m

      #sh -c "python3 /s3util/s3utilityservice.py upload 's3://BUCKET_NAME/PROJECT_ID/pipeline/PIPELINENAME/VERSION/runs/RUNNAME/outputartifacts' $outputArtifacts"
      sh -c "/s3util/utils3.sh upload 's3://BUCKET_NAME/PROJECT_ID/pipeline/PIPELINENAME/VERSION/runs/RUNNAME/outputartifacts' $outputArtifacts"
      [ -z "$(ls -A /output/genModel/)" ] && echo "MODEL NOT STORED UNDER MODEL STORE DIRECTORY" || python3 /s3util/s3utilityservice.py upload 's3://BUCKET_NAME/PROJECT_ID/pipeline/PIPELINENAME/VERSION/runs/RUNNAME/outputartifacts/models' '/output/genModel/'

      sh -c "python3 /s3util/pipelinemetrics_v1_0.py --run_id $run_id --logs_path $log_path --metricname $metricname --regex \"$regex\" --keyval train --deployEnv DEPLOYENVIRONMENT"
                             
    - {inputValue: filename}
    - {inputValue: Parameters}
    - {inputValue: Log path}
    - {inputValue: rgex}
    - {inputValue: metricname}
    - {inputValue: run id}
    - if:
        cond: {isPresent: Packages to install}
        then: [{inputValue: Packages to install}]
        else: ""
    - if:
        cond: {isPresent: Input data}
        then: [{inputPath: Input data}]
        else: ""
    - {outputPath: Output data}