
<!--
 ================================================================================================================
 # ===============================================================================================================
 # Copyright 2025 Infosys Ltd.
 # Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at
 # http://www.apache.org/licenses/
 # ===============================================================================================================
 ================================================================================================================
-->
<div class="tf_container">
    <div class="row">
        <div class="col-lg-12">

                <div class="pageName">
                    Infosys LLM Leaderboard
                </div>

                <div class=" app_content" id="mainCtr">
                    <div class="container-fluid" style="padding: 0px 10px;">
                        <div class="tf-content content-right" id="mainrightCnt">
                            <div class="tf-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <router-outlet></router-outlet>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>