#mainCtr{
    padding-top: 55px !important;
}
.pageName{
    padding: 20px 0px 20px 25px;
    float: left;
    font-weight: 500;
    font-size: x-large;
    background-color: #42619D;
    color: #ffffff;
    width: -webkit-fill-available;
    margin-bottom: 16px;
}

