.container{
    margin-left: 15px;
    margin-right: -30px;
    margin-top: -15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    overflow-x: hidden;
    position:fixed;
    max-width: calc(97vw - ((100vw - 100%)/2));
    height: 85vh;
    align-items: center;
}

.table-wrapper{
    // height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
}

.err-msg-div {
    font-size: 10px;
}

.email-err-msg{
    text-align:left; 
    padding-top:0px; 
    color:red;
    font-size: 10px;
}

.projectId_style{
    font-size: small;
    margin-top: 8px;
    margin-left: -70px;
    margin-bottom: 5px;
  }

::ng-deep .mat-tab-label {
    font-size: 15px !important;
    max-height: 25px !important;
  }

  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: blue;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #005691!important;
  }
   

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #005691!important;
  }

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #005691;
  }

  .tf_table_row{
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
  }