.container{
    padding-bottom: 10px;
}
.err-msg-div{
    font-size: 10px;
    margin-top: -12px;
}
.delete-var{
    margin-left:-15px
}
.table-wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}
.password-container{
    position: relative;
}

.icon{
    margin-top: 5px;
    margin-left: 5px;
}

