.table-wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
}

.err-msg-div{
    font-size: 10px;
    margin-top: -12px;
}