.table-wrapper{
    overflow-y: auto;
    max-height: 70vh;
}
.modal-footer{
    margin-bottom: -20px;
    margin-top: 5px;
}
.password-container{
    position: relative;
}

.icon{
    margin-top: 5px;
    margin-left: 5px;
}