<div class="tf_viewContainer">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <div class="designView active">
          <a href="javascript:void(0);" id="tf_minimize" class="tf_minimize tf_marRght16" (click)="fullView()"><i
              aria-hidden="true" class="material-icons">fullscreen_exit</i></a>
          <div class="tf_mainwrapper">
            <header class="tf_Header clearfix ctr_header" id="scrollHeader">
              <div class="container-fluid" id="mainHeader">
                <ng-container *ngIf="!isLoginPage()">
                  <a href="javascript:void(0)" (click)="tf_mainHamburger($event)"
                    class="tf_Hamburger icon x-24 icon-Hamburger white marT24 float-left" aria-label="app menu"
                    matTooltipClass="tf_tooltip" matTooltip="Menu" matTooltipPosition="above"></a>
                </ng-container>
                <a href="javascript:void(0)" class="tf_Applogo marL16 float-left">
                  Transformer Foundry
                </a>
                <ng-container *ngIf="!isLoginPage()">
                  <ul class="tf_RightUtil float-right">
                    <li class="d-xl-block">
                      <span class="tf_profile padTB8 padL16 tf_mainactiveLink ">
                        <div ngbDropdown class="d-inline-block marR8 vMid">
                          <a href="javascript:void(0);" id="OverflowMenu_dd" ngbDropdownToggle
                            class="tf_dropdown-iconOnly tf_dddesktop"
                            aria-label="profile menu"><img alt="avatar" class="avatarImageCircle"
                              src="assets/images/avatar1.png" /></a>
                        </div>
                      </span>
                    </li>
                  </ul>
                </ng-container>
              </div>
            </header>
            <nav class="tf_Appnav tf_navHide ctr_nav ts_mainNav" id="mainNav" (click)="$event.stopPropagation()">
              <ul class="tf_wb_listItemSingle tf_frstLevel marT32">
                <div>
                  <li>
                    <a style="cursor: pointer;" (click)="navigateToModelZoo()">
                      <i class="icon x-24 icon_data_model_converter marR16 float-left"> </i>
                      <h5 class="tf_h5Header web-GreyDarkest tf_list-1line" title="Curated models">
                        Model Zoo
                      </h5>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['benchmarks']">
                      <i class="icon x-24 icon_Certifications_Q-Cert marR16 float-left"> </i>
                      <h5 class="tf_h5Header web-GreyDarkest tf_list-1line" title="Submit Benchmark">
                        Benchmarks
                      </h5>
                    </a>
                  </li>
                </div>
              </ul>
            </nav>
            <div class="clearfix tf_mainCtr ctr_main" id="mainCtr">
              <div class="container-fluid">
                <div class="tf_rightMainContent nomarL_mb" id="mainrightCnt">
                  <div class="tf_innerContentWrapper">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row bc-row-content mar8">
                          <div class="col-md-9">
                            <app-breadcrumb></app-breadcrumb>
                          </div>
                        </div>
                        <div>
                          <router-outlet></router-outlet>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="tf_footer ctr_footer" id="mainfooter">
              <div class="container-fluid padLR8">
                
                <span style="float: right;">version: {{model.versionNumber}}</span>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>