/* App level CSS */
.header {
  background-color: #8626c3;
  font-weight: 520;
  font-size: 20px;
  color: #ffffff;
  margin-top:20px;
  // line-height: 35px;
  // padding: 11px 14px;
  font-family: "roboto", Arial, sans-serif;
  // margin: -8px -8px -8px 0px;
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

.table-inner {
  font: x-small;
  border: 1px black solid;
}

td{
  background-color: #a474ac;
}

.table-responsive {
  table {
    table-layout: fixed;
    width: 100%;
  }
  td {
    width: 33.33%;
  }
  td:hover {
    box-shadow: #212121;
    background-color: #a474ac;
  }
}

.combined-line {
  display: flex;
  align-items: center;
}

.dashed-line {
  flex-grow: 1;
  border-bottom: 1px solid #dbd4d4;;
}

.plain-text {
  padding: 0 10px; /* Add padding to separate the dashes from the text */
}
