::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}
.card_padding {
    padding-top: 5px;
    padding-bottom: 5px;
}
.total-records{
    font-size:x-small;
    color: #737373;
}
.table-wrapper{
    overflow-x: hidden;
    overflow-y:auto;
}
::ng-deep .mat-tab-label {
    font-size: 15px !important;
    max-height: 25px !important;
  }

::ng-deep .mat-paginator-navigation-next.mat-icon-button:not([disabled]),
::ng-deep .mat-paginator-navigation-previous.mat-icon-button:not([disabled]) {
  color: #0b50db !important;
}


/* table row */
.tf_table_row {
  margin-top: 24px !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tf_table_col{
  padding-left: 32px;
  padding-right: 0px;
  padding-bottom: 8px;
}