::ng-deep.tf_wb_Secondary .mat-tab-label,
.tf_wb_Secondary .mat-tab-link {
  height: 25px !important;
  font-size: 15px !important;
}

.tf_wb_custom-table thead {
    position: sticky;
    top: 0;
    background-color: white !important;
}

.tf_wb_custom-table tbody tr td {
    font-size: small;
}

.CapitalText {
    text-transform: capitalize;
}

.total-records {
    font-size: x-small;
    color: #737373;
}

.err-msg-div {
    font-size: 10px;
    margin-top: -12px;
}

.filter_panel {
    background: white;
    font-family: "roboto", Arial, sans-serif !important;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: normal;
    height: 85px;
}

.tf_Wb_custom-form-field.tf_form_nofloatLabel .mat-input-element {
    height: 15px;
}
::ng-deep.mat-tab-body-content{
    overflow: hidden !important;
}
.icon{
    display: inline-flex;
    align-items: center;
    
}
.sorted-column {
    text-decoration: underline;
}
.tf_wb_miniPrimary-btn{
    border: none !important;
}
.filter-icons{
    padding: 0px !important;
    max-width: 4% !important;
}

