<div class="tf_contentLeftCol tf_baseLayout_center padTB8" [style.width.px]="leaderboardWidth">
    <div class="tf_panel padLR16">
        <div class="filter_panel padT8 padLR16" style="background: white; justify-content: center;">
            <div class="row" style="line-height: 95px; display: flex;">
                <div class="col-md-2">
                    <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                        panelClass="tf_wb-custom-select-panel">
                        <mat-label>Benchmark Name</mat-label>
                        <input matInput placeholder="First Name" [(ngModel)]="model.leaderDataFilter.benchmarkName" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                        panelClass="tf_wb-custom-select-panel">
                        <mat-label>Model Name</mat-label>
                        <input matInput placeholder="First Name" [(ngModel)]="model.leaderDataFilter.modelName"
                            [disabled]="exeModelName" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                        panelClass="tf_wb-custom-select-panel">
                        <mat-label>Dataset</mat-label>
                        <input matInput placeholder="First Name" [(ngModel)]="model.leaderDataFilter.datasetName" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                        panelClass="tf_wb-custom-select-panel">
                        <mat-label>From Date</mat-label>
                        <input matInput placeholder="First Name" type="date"
                            [(ngModel)]="model.leaderDataFilter.fromDate" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                        panelClass="tf_wb-custom-select-panel">
                        <mat-label>To Date</mat-label>
                        <input matInput placeholder="First Name" type="date"
                            [(ngModel)]="model.leaderDataFilter.toDate" />
                    </mat-form-field>
                </div>
                <div class="col-md-1 filter-icons">
                    <button class="tf_wb_miniPrimary-btn marR24" mat-flat-button (click)="onSearchClick()" [disabled]="
                            model.leaderDataFilter.fromDate>model.leaderDataFilter.toDate" style="bottom: 8px; background: none; display: inline-flex; justify-content: center;"><span
                            class="icon_btnCont"><i class="icon x-16 purple search-icon"></i></span>
                    </button>
                </div>
                <div class="col-md-1 filter-icons">
                    <button class="tf_wb_miniPrimary-btn marR24" mat-flat-button (click)="resetFilter()" [disabled]="
                            model.leaderDataFilter.fromDate>model.leaderDataFilter.toDate" style="bottom: 8px; background: none; display: inline-flex; justify-content: center;"><span
                            class="icon_btnCont"><i class="icon x-16 purple icon_Refresh"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-wrapper" style="overflow-x: auto; overflow-y: scroll;" [style.height.px]="leaderboardHeight">
            <table class="tf_wb_custom-table" style="table-layout: fixed;"
                [style.width.px]="leaderboardWidth+model.tableWidthOffset">
                <thead>
                    <tr>
                        <th width="2%">#</th>
                        <th width="15%">Benchmark Name</th>
                        <th width="8%" *ngIf="!modelFlag">Model Name</th>
                        <th width="6%">Data Type</th>
                        <th width="8%">Task</th>
                        <th width="10%">Dataset</th>
                        <th width="5%">Language</th>

                        <th width="7%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'codebleu'">CodeBleu
                            <ng-container *ngIf="model.sortedColumn === 'codebleu'">
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('codebleu',true)"
                                    matTooltip="{{ model.sortedColumn === 'codebleu' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('codebleu',true)"
                                    matTooltip="{{ model.sortedColumn === 'codebleu' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'codebleu' ">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('codebleu',true)"
                                    matTooltip="{{ model.sortedColumn === 'codebleu' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="5%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'bleu'">Bleu
                            <ng-container *ngIf="model.sortedColumn === 'bleu'">
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('bleu',true)"
                                    matTooltip="{{ model.sortedColumn === 'bleu' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('bleu',true)"
                                    matTooltip="{{ model.sortedColumn === 'bleu' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'bleu'">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('bleu',true)"
                                    matTooltip="{{ model.sortedColumn === 'bleu' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="8%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'exact_match'">Exact Match
                            <ng-container *ngIf="model.sortedColumn === 'exact_match'">
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('exact_match',true)"
                                    matTooltip="{{ model.sortedColumn === 'exact_match' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('exact_match',true)"
                                    matTooltip="{{ model.sortedColumn === 'exact_match' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'exact_match'">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('exact_match',true)"
                                    matTooltip="{{ model.sortedColumn === 'exact_match' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="8%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'edit_distance'">Edit Distance
                            <ng-container *ngIf="model.sortedColumn === 'edit_distance'">
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('edit_distance',true)"
                                    matTooltip="{{ model.sortedColumn === 'edit_distance' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('edit_distance',true)"
                                    matTooltip="{{ model.sortedColumn === 'edit_distance' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'edit_distance'">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('edit_distance',true)"
                                    matTooltip="{{ model.sortedColumn === 'edit_distance' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="6%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'pass@1'">Pass@1
                            <ng-container *ngIf="model.sortedColumn === 'pass@1'">
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('pass@1',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@1' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('pass@1',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@1' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'pass@1'">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('pass@1',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@1' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="7%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'pass@10'">Pass@10
                            <ng-container *ngIf="model.sortedColumn === 'pass@10'">
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('pass@10',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@10' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('pass@10',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@10' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'pass@10'">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('pass@10',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@10' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="8%" style="word-wrap: break-word;"
                            [class.sorted-column]="model.sortedColumn === 'pass@100'">Pass@100
                            <ng-container *ngIf="model.sortedColumn === 'pass@100'">
                                <i *ngIf="!model.isAscendingOrder" class="icon x-16 up-arw-icon"
                                    (click)="updateMetricName('pass@100',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@100' ? model.sortOrder : '' }}"></i>
                                <i *ngIf="model.isAscendingOrder" class="icon x-16 down-arw-icon"
                                    (click)="updateMetricName('pass@100',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@100' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                            <ng-container *ngIf="model.sortedColumn !== 'pass@100'">
                                <i class="icon x-16 down-arw-icon" (click)="updateMetricName('pass@100',true)"
                                    matTooltip="{{ model.sortedColumn === 'pass@100' ? model.sortOrder : '' }}"></i>
                            </ng-container>
                        </th>

                        <th width="5%" matTooltip="Quantization">Quantn.</th>
                        <th width="12%">Benchmark Date</th>
                    </tr>
                </thead>
                <tbody *ngIf="model.isDataLoaded; else loading">
                    <ng-container *ngIf="model.codeLeaderData?.length>0;else apiError">
                        <tr *ngFor="let item of model.currentPageData; let i = index">
                            <td width="2%">{{model.startIndex+i+1}}</td>
                            <td width="15%" style="word-wrap: break-word;">{{item["_source"]["run_name"]}}</td>
                            <td *ngIf="!modelFlag" width="8%" style="word-wrap: break-word;">
                                {{item["_source"]["model"]}}</td>
                            <td width="6%" style="word-wrap: break-word;">{{item["_source"]["datatype"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["task"]}}</td>
                            <td width="10%" style="word-wrap: break-word;">{{item["_source"]["dataset"]}}</td>
                            <td width="5%" style="word-wrap: break-word;">{{item["_source"]["language"]}}</td>
                            <td width="7%" style="word-wrap: break-word;">{{item["_source"]["codebleu"]}}</td>
                            <td width="5%" style="word-wrap: break-word;">{{item["_source"]["bleu"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["exact_match"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["edit_distance"]}}</td>
                            <td width="6%" style="word-wrap: break-word;">{{item["_source"]["pass@1"]}}</td>
                            <td width="7%" style="word-wrap: break-word;">{{item["_source"]["pass@10"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["pass@100"]}}</td>
                            <td width="5%" style="word-wrap: break-word;">{{item["_source"]["quantization_techniques"]}}
                            </td>
                            <td width="12%" style="word-wrap: break-word;">{{item["_source"]["@timestamp"]| utcToLocal}}
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #apiError>
                        <ng-container *ngIf="model.apiError==='apiError'; else noData">
                            <tr>
                                <td colspan="17" class="text-center" style="text-align: center; padding: 0;">
                                    {{getMessage(103)}}
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td colspan="17" class="text-center" style="text-align: center; padding: 0;">
                                    {{getMessage(104)}}
                                </td>
                            </tr>
                        </ng-template>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <div class="pagination-container"
            style="display: flex; justify-content: space-between;align-items: center;border-top: 1px solid #ccc;">
            <div class="pagination"
                style="display: flex; justify-content: center; flex: 1;margin-top: 5px; margin-bottom: 5px;">
                <mat-form-field class="tf_Wb_custom-form-field custom-form-pagination marR16">
                    <label class="label-inline">Go to:</label>
                    <input matInput [(ngModel)]="model.pageDefault" class="pagination_input">
                </mat-form-field>
                <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.pageDefault" [maxSize]="3"
                    [pageSize]="model.pageSize" class="tf_wb_custom-pagination d-inline-block marT4"
                    (pageChange)="onPageChange($event)">
                    <ng-template ngbPaginationPrevious><i class="icon x-24 previous-icon"
                            style="display: inline-block;"></i></ng-template>
                    <ng-template ngbPaginationNext><i class="icon x-24 next-icon"
                            style="display: inline-block;"></i></ng-template>
                    <ng-template ngbPaginationNumber let-q>{{ q }}</ng-template>
                </ngb-pagination>
            </div>
            <div class="total-records" style="margin-top: 15px;">
                Total Records: {{ model.totalItems }}
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <tr>
        <td colspan="16">
            <div class="loading-dots">
                <div class="loading-dots--dot"></div>
                <div class="loading-dots--dot"></div>
                <div class="loading-dots--dot"></div>
            </div>
        </td>
    </tr>
</ng-template>