<div class="row marTB8 marR16">
    <div class="col-md-6" style="display: flex;justify-content: right;">
        <ng-container *ngIf="model.isBtnDisabled">
            <tr>
                <td>
                    <div class="loading-dots">
                        <div class="loading-dots--dot"></div>
                        <div class="loading-dots--dot"></div>
                        <div class="loading-dots--dot"></div>
                    </div>
                </td>
            </tr>
        </ng-container>
    </div>
    <div class="col-md-6" style="display: flex;justify-content: right;">
        <button mat-flat-button class="tf_wb_miniPrimary-btn" id="createBtn" matTooltipClass="tf_tooltip"
            matTooltip="Submit" matTooltipPosition="above" (click)="open(confirmAction,true);"
            [disabled]="model.isBtnDisabled">
            Submit
        </button>
    </div>
</div>
<div class="tf_panel padT16 padLR24 marLR16" [style.height.px]="model.jobHeight" style="overflow-y: auto;">
    <div class="row padT16 padLR24">
        <!--name-->
        <div class="col-md-3">
            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                <mat-label>Name</mat-label>
                <input matInput placeholder="" value="{{ model.benchmarkData.name }}"
                    [(ngModel)]="model.benchmarkData.name" (input)="onInput($event, myName)" #myName="ngModel" required
                    maxlength="40" />
            </mat-form-field>
        </div>
        <!---description--->
        <div class="col-md-3">
            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                <mat-label>Description</mat-label>
                <input matInput placeholder="" value="{{ model.benchmarkData.description }}"
                    [(ngModel)]="model.benchmarkData.description" #myDescription="ngModel" />
            </mat-form-field>
        </div>
        <!--benchmark type-->
        <div class="col-md-3">
            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                <mat-label>Modality</mat-label>
                <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel" class="tf_wb-custom-select"
                    [ngModel]="model.benchmarkData.type ? model.benchmarkData.type : ''"
                    (ngModelChange)="model.benchmarkData.type = $event"
                    (selectionChange)="onModalityChange($event.value)" required>
                    <mat-option *ngFor="let type of modality" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--task-->
        <div class="col-md-3">
            <mat-form-field 
            class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                <mat-label>Task</mat-label>
                <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel" class="tf_wb-custom-select"
                    [ngModel]="model.benchmarkData.configuration.task ? model.benchmarkData.configuration.task : ''"
                    (ngModelChange)="model.benchmarkData.configuration.task = $event"
                    (selectionChange)="onTaskChange($event.value)">
                    <mat-option *ngFor="let task of taskList" [value]="task">
                        {{ task }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!--models-->
    <div class="table-titleArea  padLR16">
        <div class="marB8">
            <h2 class="tf_wb_h2Header web-GreyDarkest" (click)="toggleShowSection('models')" style="display: flex;">
                Models <span [class.icon.x-16]="true" [class.up-arw-icon]="showSection['models']"
                    [class.down-arw-icon]="!showSection['models']" style="margin-right: 0px;"></span>
            </h2>
        </div>
        <!--configuration-->
        <div class="tab-data" *ngIf="showSection['models']">
            <ng-container *ngFor="let item of model.benchmarkData.configuration.model; let i=index">
                <div class="table-titleArea  padLR16">
                    <div class="marB8">
                        <h4 class="tf_wb_h3Header web-GreyDarkest"
                            style="display: flex; justify-content: space-between;">
                            Configuration
                            <span>
                                <button mat-flat-button class="tf_wb_Icon-btn" (click)="removeModel(i)">
                                    <span class="icon_btnCont"><i class="icon purple x-16 delete-sm-icon"></i></span>
                                </button>
                            </span>
                        </h4>
                    </div>
                    <div class="tab-data" *ngIf="showSection['modelConfig']">
                        <div class="row padT8 padLR24">
                            <div class="col-md-3">
                                    <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel"
                                        floatLabel="never">
                                        <mat-label>Model Name</mat-label>
                                        <input matInput placeholder="" value="{{ item.modelName }}"
                                            [(ngModel)]="item.modelName" (input)="onInput($event, modelName)"
                                            #modelName="ngModel" required />
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel"
                                    floatLabel="never">
                                    <mat-label>Model Path</mat-label>
                                    <div class="tf_wb_mat-prefix">
                                        <span>{{model.aiClouds3}}</span>
                                        <input matInput placeholder="" value="{{ item.modelPathorId }}"
                                            [(ngModel)]="item.modelPathorId" required/>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel"
                                    floatLabel="never">
                                    <mat-label>Data Type</mat-label>
                                    <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel"
                                        class="tf_wb-custom-select" [ngModel]="item.datatype ? item.datatype : ''"
                                        (ngModelChange)="onDataTypeChange($event, i)" required>
                                        <mat-option *ngFor="let type of dataType" [value]="type">
                                            {{ type }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel"
                                    floatLabel="never">
                                    <mat-label>Quantization Method</mat-label>
                                    <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel" class="tf_wb-custom-select"
                                    [ngModel]="item.quantizeMethod"
                                        (ngModelChange)="item.quantizeMethod = $event"
                                        [disabled]="model.disableQuantize[i]">
                                        <ng-container *ngIf="!model.disableQuantize[i]">
                                            <mat-option  *ngFor="let type of quantizeMethod" [value]="type" >
                                                {{type}}
                                            </mat-option>
                                        </ng-container>
                                        <ng-container *ngIf="model.disableQuantize[i]">
                                            <mat-option *ngFor="let type of quantizeNA" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- arguments -->
                <div *ngIf="showArgs(i)">
                    <div class="table-titleArea" style="padding-left: 48px;">
                        <div class="marB8">
                            <h3 class="tf_wb_h3Header web-GreyDarkest" (click)="toggleShowSection('modelArguments')"
                                style="display: flex;" aria-required="true">
                                Arguments
                                <span style="font-size: 12px;">&#65290;</span>
                                <span [class.icon.x-16]="true" 
                                [class.up-arw-icon]="showSection['modelArguments']"
                                    [class.down-arw-icon]="!showSection['modelArguments']"
                                    style="margin-right: 0px;"></span>
                            </h3>
                        </div>
                        <div class="tab-data" *ngIf="showSection['modelArguments']">
                            <table class="tf_wb_custom-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        &nbsp;
                                        <th>Value</th>
                                        &nbsp;
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr *ngFor="let arg of item.args; let j=index">
                                            <td>
                                                <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel"
                                                    floatLabel="never">
                                                    <mat-select disableOptionCentering
                                                        panelClass="tf_wb-custom-select-panel"
                                                        class="tf_wb-custom-select"
                                                        [ngModel]="arg.name ? arg.name : ''"
                                                        (ngModelChange)="arg.name = $event" required>
                                                        <mat-option *ngFor="let type of modelGenArgs" [value]="type">
                                                            {{ type }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            &nbsp;
                                            <td>
                                                <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel"
                                                    floatLabel="never" panelClass="tf_wb-custom-select-panel">
                                                    <input matInput placeholder="" value="{{ arg.value }}"
                                                        [(ngModel)]="arg.value" required />
                                                </mat-form-field>
                                            </td>
                                            &nbsp;
                                            <td>
                                                <button mat-flat-button class="tf_wb_Icon-btn"
                                                    (click)="removeArgs(i,j)">
                                                    <span class="icon_btnCont"><i
                                                            class="icon purple x-16 delete-sm-icon"></i></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <button mat-flat-button class="tf_wb_Icon-btn" (click)="addArgs(i)">
                                <span class="icon_btnCont"><i class="icon purple x-16 icon-add"></i></span>
                                Add Arguments
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <button mat-flat-button class="tf_wb_Icon-btn" (click)="addModel()" [disabled]="model.modelBtnDisable">
                <span class="icon_btnCont"><i class="icon purple x-16 icon-add"></i></span>
                Add Models
            </button>
        </div>
    </div>
    <!-- Dataset Configuration -->
    <div class="table-titleArea padLR16">
        <div class="marB8">
            <h2 class="tf_wb_h2Header web-GreyDarkest" (click)="toggleShowSection('data')" style="display: flex;">
                Dataset Configuration
                <span style="font-size: 12px;">&#65290;</span>
                <span [class.icon.x-16]="true" [class.up-arw-icon]="showSection['data']"
                    [class.down-arw-icon]="!showSection['data']" style="margin-right: 0px;"></span>
            </h2>
        </div>
        <div class="tab-data" *ngIf="showSection['data']">
            <table class="tf_wb_custom-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        &nbsp;
                        <th>Scope</th>
                        &nbsp;
                        <th>Language</th>
                        &nbsp;
                        <th>Batch Size</th>
                        &nbsp;
                        <th>Limit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.benchmarkData.configuration.data; let i=index">
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel"
                                    class="tf_wb-custom-select" [ngModel]="item?.name ? item.name: ''"
                                    (ngModelChange)="item.name = $event"
                                    [disabled]="!model.benchmarkData.configuration.task" required>
                                    <mat-option *ngFor="let type of datasets" [value]="type">
                                        {{ type }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <mat-label>Type</mat-label>
                                <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel"
                                    class="tf_wb-custom-select" [ngModel]="item?.scope ? item.scope: ''"
                                    (ngModelChange)="item.scope = $event" required> 
                                    <mat-option *ngFor="let type of scope" [value]="type">
                                        {{ type }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                                panelClass="tf_wb-custom-select-panel">
                                <input matInput placeholder="" value="{{ item.language }}" [(ngModel)]="item.language"
                                    maxlength="15" required pattern="[a-zA-Z]+"
                                    onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" />
                            </mat-form-field>
                        </td>
                        &nbsp;
                            <td>
                                <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                                panelClass="tf_wb-custom-select-panel">
                                    <input matInput placeholder="" min="1" max="50" pattern="[0-9]{1,2}"
                                        value="{{ item.batchSize }}" [(ngModel)]="item.batchSize" type="number"
                                        #batchRef="ngModel" type="number" required />
                                </mat-form-field>
                            </td>
                            &nbsp;
                            <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never"
                                panelClass="tf_wb-custom-select-panel">
                                    <input matInput placeholder="" min="1" max="15000" pattern="[0-9]{1,5}"
                                    value="{{ item.limit }}" [(ngModel)]="item.limit" type="number" #limitRef="ngModel"
                                    required />
                                </mat-form-field>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- storage -->
    <div class="table-titleArea padLR16">
        <div class="marB8">
            <h2 class="tf_wb_h2Header web-GreyDarkest" (click)="toggleShowSection('storage')" style="display: flex;">
                Storage<span [class.icon.x-16]="true" [class.up-arw-icon]="showSection['storage']"
                    [class.down-arw-icon]="!showSection['storage']" style="margin-right: 0px;"></span>
            </h2>
        </div>
        <div class="tab-data" *ngIf="showSection['storage']">
            <table class="tf_wb_custom-table">
                <thead>
                    <tr>
                        <th>Storage Type</th>
                        &nbsp;
                        <th>URI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <mat-select disableOptionCentering panelClass="tf_wb-custom-select-panel"
                                    class="tf_wb-custom-select"
                                    [ngModel]="model.benchmarkData.configuration.dataStorage.storageType"
                                    (ngModelChange)="model.benchmarkData.configuration.dataStorage.storageType = $event">
                                    <mat-option *ngFor="let store of storage" [value]="store.value">
                                        {{ store.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <div class="tf_wb_mat-prefix">
                                    <span>{{model.aiClouds3}}</span>
                                    <input matInput matTooltipClass="tf_tooltip" matTooltip="bucketName/folderPath" matTooltipPosition="above"
                                        value="{{model.benchmarkData.configuration.dataStorage.uri}}"
                                        [(ngModel)]="model.benchmarkData.configuration.dataStorage.uri"
                                        style="width: 515px;" required >
                                </div>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- resource configuration -->
    <div class="table-titleArea padLR16">
        <div class="marB8">
            <h2 class="tf_wb_h2Header web-GreyDarkest" (click)="toggleShowSection('resourceConfig')"
                style="display: flex;">
                Resource Configuration<span [class.icon.x-16]="true" [class.up-arw-icon]="showSection['resourceConfig']"
                    [class.down-arw-icon]="!showSection['resourceConfig']" style="margin-right: 0px;"></span>
            </h2>
        </div>
        <div class="tab-data" *ngIf="showSection['resourceConfig']">
            <table class="tf_wb_custom-table">
                <thead>
                    <tr>
                        <th width="20%">GPU QTY</th>&nbsp;
                        <th width="20%">GPU Memory</th>&nbsp;
                        <th width="20%">Volume Name</th>&nbsp;
                        <th width="20%">Volume Mount Path</th>&nbsp;
                        <th width="20%">Volume Size</th>&nbsp;
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <input matInput placeholder="First Name" min="1"
                                    value="{{ model.benchmarkData.resourceConfig.gpuQty }}"
                                    [(ngModel)]="model.benchmarkData.resourceConfig.gpuQty" type="number" />
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <input matInput placeholder="First Name"
                                    value="{{ model.benchmarkData.resourceConfig.gpuMemory }}"
                                    [(ngModel)]="model.benchmarkData.resourceConfig.gpuMemory" disabled />
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <input matInput placeholder="First Name"
                                    value="{{ model.benchmarkData.resourceConfig.volume.name }}"
                                    [(ngModel)]="model.benchmarkData.resourceConfig.volume.name" required />
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <div class="tf_wb_mat-prefix">
                                    &nbsp;
                                    <span>/</span>
                                    &nbsp;
                                    <input matInput placeholder="First Name"
                                        value="{{ model.benchmarkData.resourceConfig.volume.mountPath }}"
                                        [(ngModel)]="model.benchmarkData.resourceConfig.volume.mountPath" style="width: 200px;"/>
                                </div>
                            </mat-form-field>
                        </td>
                        &nbsp;
                        <td>
                            <mat-form-field class="tf_Wb_custom-form-field tf_form_nofloatLabel" floatLabel="never">
                                <input matInput placeholder="First Name" min="1" max="100" pattern="[0-9]{1,3}"
                                    type="number" value="{{ model.benchmarkData.resourceConfig.volume.sizeinGB }}"
                                    [(ngModel)]="model.benchmarkData.resourceConfig.volume.sizeinGB"
                                    #volumeRef="ngModel"/>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #confirmAction let-modal let-c="close" let-s="confirm" let-d="dismiss">
    <app-dialog-confirm [isBtnDisabled]="model.isBtnDisabled" (close)="c('Cross click')" (confirm)="createBenchmark()">
    </app-dialog-confirm>
</ng-template>