
<!--
 ================================================================================================================
 # ===============================================================================================================
 # Copyright 2025 Infosys Ltd.
 # Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at
 # http://www.apache.org/licenses/
 # ===============================================================================================================
 ================================================================================================================
-->
<div class="tf-content content-left" [style.width.px]="leaderboardWidth">
    <div class="tf_panel">
        <div class="filter_panel">
            <form>
                <div class="row" style="padding: 24px;">
                    <div class="col-md-2">
                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>Benchmark Name</mat-label>
                            <input matInput name="benchmark" [(ngModel)]="model.leaderDataFilter.benchmarkName" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>Model Name</mat-label>
                            <input matInput name="model" [(ngModel)]="model.leaderDataFilter.modelName" [disabled]="exeModelName" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>Dataset</mat-label>
                            <input matInput name="dataset" [(ngModel)]="model.leaderDataFilter.datasetName" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 dateField">
                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>From Date</mat-label>
                            <input matInput [matDatepicker]="fromDatePicker" name="fromDate"
                                [(ngModel)]="model.leaderDataFilter.fromDate" />
                            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 dateField">
                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>To Date</mat-label>
                            <input matInput [matDatepicker]="toDatePicker" name="toDate"
                                [(ngModel)]="model.leaderDataFilter.toDate" />
                            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #toDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 filter-icons" >
                        <button class="marR24 search-button" mat-flat-button (click)="onSearchClick()" [disabled]="
                                model.leaderDataFilter.fromDate>model.leaderDataFilter.toDate"
                            style="bottom: -8px; background: none; display: inline-flex; justify-content: center;">
                            <span style="line-height: 50px;">
                                <mat-icon class="action-icons">search</mat-icon>
                            </span>
                        </button>
                    </div>
                    <div class="col-md-1 filter-icons">
                        <button class="marR24" mat-flat-button (click)="resetFilter()"
                            style="bottom: -8px; background: none; display: inline-flex; justify-content: center;">
                            <span style="line-height: 50px;">
                                <mat-icon class="action-icons">refresh</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-wrapper" style="overflow-x: auto; overflow-y: scroll; padding-left: 24px;"
            [style.height.px]="leaderboardHeight">
            <table class="app_tables" style="table-layout: fixed;"
                [style.width.px]="leaderboardWidth+model.tableWidthOffset">
                <thead>
                    <tr>
                        <th width="2%">#</th>
                        <th width="15%">Benchmark Name</th>
                        <th width="8%" *ngIf="!modelFlag">Model Name</th>
                        <th width="6%">Data Type</th>
                        <th width="8%">Task</th>
                        <th width="10%">Dataset</th>
                        <th width="5%">Language</th>
                        <th width="7%" style="word-wrap: break-word;">
                            <span style="float:left" [class.sorted-column]="model.sortedColumn === 'codebleu'">
                                CodeBleu
                                <ng-container *ngIf="model.sortedColumn === 'codebleu'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'codebleu' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('codebleu',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'codebleu' ">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'codebleu' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('codebleu',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="5%" style="word-wrap: break-word;">
                            <span style="float:left;" [class.sorted-column]="model.sortedColumn === 'bleu'">
                                Bleu
                                <ng-container *ngIf="model.sortedColumn === 'bleu'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'bleu' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('bleu',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'bleu'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'bleu' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('bleu',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="8%" style="word-wrap: break-word;">
                            <span style="float: left;" [class.sorted-column]="model.sortedColumn === 'exact_match'">
                                Exact Match
                                <ng-container *ngIf="model.sortedColumn === 'exact_match'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'exact_match' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('exact_match',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'exact_match' ">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'exact_match' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('exact_match',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="8%" style="word-wrap: break-word;">
                            <span style="float:left;" [class.sorted-column]="model.sortedColumn === 'edit_distance'">
                                Edit Distance
                                <ng-container *ngIf="model.sortedColumn === 'edit_distance'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'edit_distance' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('edit_distance',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'edit_distance' ">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'edit_distance' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('edit_distance',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="6%" style="word-wrap: break-word;">
                            <span style="float: left;" [class.sorted-column]="model.sortedColumn === 'pass@1'">
                                Pass@1
                                <ng-container *ngIf="model.sortedColumn === 'pass@1'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'pass@1' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('pass@1',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'pass@1' ">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'pass@1' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('pass@1',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="7%" style="word-wrap: break-word;">
                            <span style="float: left;" [class.sorted-column]="model.sortedColumn === 'pass@10'">
                                Pass@10
                                <ng-container *ngIf="model.sortedColumn === 'pass@10'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'pass@10' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('pass@10',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'pass@10' ">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'pass@10' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('pass@10',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="8%" style="word-wrap: break-word;">
                            <span style="float: left;" [class.sorted-column]="model.sortedColumn === 'pass@100'">
                                Pass@100
                                <ng-container *ngIf="model.sortedColumn === 'pass@100'">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'pass@100' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('pass@100',true)">
                                        {{model.isAscendingOrder ? 'arrow_drop_up' : 'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                                <ng-container *ngIf="model.sortedColumn !== 'pass@100' ">
                                    <mat-icon class="float-right sort-icons" style="font-size: large;float: right"
                                        [ngClass]="'arrow_drop_down'"
                                        matTooltip="{{ model.sortedColumn === 'pass@100' ? model.sortOrder : '' }}"
                                        (click)="updateMetricName('pass@100',true)">
                                        {{'arrow_drop_down'}}
                                    </mat-icon>
                                </ng-container>
                            </span>
                        </th>
                        <th width="5%" matTooltip="Quantization">Quantn.</th>
                        <th width="12%">Benchmark Date</th>
                    </tr>
                </thead>
                <tbody *ngIf="model.isDataLoaded; else loading">
                    <ng-container *ngIf="model.codeLeaderData?.length>0;else apiError">
                        <tr *ngFor="let item of model.currentPageData; let i = index">
                            <td width="2%">{{model.startIndex+i+1}}</td>
                            <td width="15%" style="word-wrap: break-word;">{{item["_source"]["run_name"]}}</td>
                            <td *ngIf="!modelFlag" width="8%" style="word-wrap: break-word;">
                                {{item["_source"]["model"]}}</td>
                            <td width="6%" style="word-wrap: break-word;">{{item["_source"]["datatype"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["task"]}}</td>
                            <td width="10%" style="word-wrap: break-word;">{{item["_source"]["dataset"]}}</td>
                            <td width="5%" style="word-wrap: break-word;">{{item["_source"]["language"]}}</td>
                            <td width="7%" style="word-wrap: break-word;">{{item["_source"]["codebleu"]}}</td>
                            <td width="5%" style="word-wrap: break-word;">{{item["_source"]["bleu"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["exact_match"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["edit_distance"]}}</td>
                            <td width="6%" style="word-wrap: break-word;">{{item["_source"]["pass@1"]}}</td>
                            <td width="7%" style="word-wrap: break-word;">{{item["_source"]["pass@10"]}}</td>
                            <td width="8%" style="word-wrap: break-word;">{{item["_source"]["pass@100"]}}</td>
                            <td width="5%" style="word-wrap: break-word;">{{item["_source"]["quantization_techniques"]}}
                            </td>
                            <td width="12%" style="word-wrap: break-word;">{{item["_source"]["@timestamp"]| utcToLocal}}
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #apiError>
                        <ng-container *ngIf="model.apiError==='apiError'; else noData">
                            <tr>
                                <td colspan="17" class="text-center" style="text-align: center; padding: 0;">
                                    {{getMessage(103)}}
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td colspan="17" class="text-center" style="text-align: center; padding: 0;">
                                    {{getMessage(104)}}
                                </td>
                            </tr>
                        </ng-template>
                    </ng-template>
                </tbody>
            </table>
        </div>

        <div class="flex-container pagination">
            <mat-paginator [length]="model.totalItems" [pageSize]="model.pageSize" [hidePageSize]="true"
              (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #loading>
    <tr>
        <td colspan="16">
            <div class="loading-dots">
                <div class="loading-dots--dot"></div>
                <div class="loading-dots--dot"></div>
                <div class="loading-dots--dot"></div>
            </div>
        </td>
    </tr>
</ng-template>