.total-records {
    font-size: x-small;
    color: #737373;
}
.runName_style{
    font-size: small;
    margin-left: 25px;
    margin-top: 6px;
}
.link-button{
    border:none;
    color: #8626C3;
    text-decoration: underline;
}
.link-button:hover{
    text-decoration: none;
}