@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

@import "@material/tab-bar/dist/mdc.tab-bar.css";
@import "@material/tab-scroller/dist/mdc.tab-scroller.css";
@import "@material/tab-indicator/dist/mdc.tab-indicator.css";
@import "@material/tab/dist/mdc.tab.css";
@import "saas/customStyling.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body, html{
  font-family: "roboto", Arial, sans-serif !important;
  font-weight: 400;
  overflow: hidden;
  color: #212121;
  background: #ffffff;
  line-height: 1;
  min-width: 360px;
}

.tf_container{
  margin: 0px;
  padding: 0px;
  background-color: #f8f8ffcc !important;
}

.tf_panel{    
  border-radius: 16px;
  background: #ffffff;
  min-height: 100px;
  padding-top: 5px;
}


.tf-content{    
  .content-left{
      padding: 16px;       
  }
  .content-right{
    padding:30px 20px;
    min-height:500px;        
  }    
}

/* mat tab */

.mat-tab-sm {
  height: 25px !important;
  font-size: 17px !important;
}

.mat-tab-body-wrapper{
  background: ghostwhite;
}

.mat-tab-labels {
  background: white;
}

@media screen and (min-width:1024px){
  .app_content{
    padding-bottom: 40px;
  }
}

.app-form-field.mat-form-field-disabled.mat-form-field-appearance-legacy
  .mat-form-field-label,
.app-form-field.mat-form-field-disabled input.mat-input-element {
  color: unset !important;
}

.loading-dots {
  text-align: center;
  width: 100%;

  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    width: 10px;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

.table-wrapper {
  padding-left: 24px;
  overflow-x: auto;
  overflow-y: scroll;
}

/* Padding to prevent breadcrumb from going under header*/
#mainCtr {
  padding-top: 80px !important;
  padding-bottom: 0px !important;
}

@media screen and (max-width: 1199px) {
  #mainCtr {
    padding-top: 56px !important;
    padding-bottom: 0px !important;
  }
  #mainrightCnt {
    height: 500px;
  }
}