<div class="modal-header" style="display: flex;">
    <h1 class="float-left" id="modalTitle">Confirmation</h1>
    <button type="button" class="close" aria-label="Close" (click)="onClose();" style="border: none;">
        <i aria-hidden="true" class="icon x-16 close-icon" style="background-color: white;"> </i>
    </button>
</div>
<div class="modal-body text-center">
    <p>Are you sure you want to continue?</p>
</div>
<div class="modal-footer" style="float: right;">
    <button mat-flat-button class="btn marR24" id="confirmBtn" (click)="onConfirm();">Yes</button>
    <button mat-flat-button class="btn" id="closeBtn" (click)="onClose();">No</button>
</div>