.card_padding{
    padding-top: 10px;
}
.description-container{
    overflow: hidden;
    position: relative;
}
.tf-line3{
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
    overflow: hidden;
}
.tf-h3{
    padding-bottom: 2px;
}
.mat-card {
    min-height: 214px !important;
}