<div class="row" style="margin-top: 5px; overflow-y: auto; padding: 5px;" [style.height.px]="model.height"
  [style.width.px]="model.width">
  <ng-container *ngIf="!model.isDataLoaded">
    <div class="loading-dots">
      <div class="loading-dots--dot"></div>
      <div class="loading-dots--dot"></div>
      <div class="loading-dots--dot"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="model.isDataLoaded">
    <ng-container *ngIf="model.modelsWithMetadata?.length > 0">
      <div class="col-lg-4 card_padding" *ngFor="let modelItem of model.modelsWithMetadata">
        <div
          *ngIf="!modelItem.isDeleted && modelItem.metadata?.modelDetails != undefined || null">
          <mat-card (click)="navigateToModelDetails(modelItem)" style="cursor: pointer">
            <mat-card-header>
              <mat-card-title >
                <div >
                  <h2>{{ modelItem.metadata.modelDetails.displayName }}</h2>
                </div>
                <div>
                  <span class=" float-right" [ngClass]="getClass(modelItem.status)">{{
                    modelItem.status }}</span>
                </div>
              </mat-card-title>
              <mat-card-subtitle class=" web-GreyLight 1line">{{
                modelItem.metadata.modelDetails.licenses[0].identifier || "-"}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class=" web-GreyLight 3line">{{ modelItem.description }}</p>
            </mat-card-content>
            <mat-card-actions class="wrapper" style="display: flex;justify-content: space-between;">
              <button mat-button class="btn" disabled>
                Fine Tune
              </button>
              <button mat-button class="btn" disabled>
                Deploy
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ng-container>
      <ng-container *ngIf="model.modelsWithoutMetadata?.length > 0">
      <div class="col-lg-4 card_padding" *ngFor="let modelItem of model.modelsWithoutMetadata">
        <div
          *ngIf="!modelItem.isDeleted && modelItem.metadata?.modelDetails == undefined || null">
          <mat-card class="widget" (click)="navigateToModelDetails(modelItem)" style="cursor: pointer">
            <mat-card-header>
              <mat-card-title class="clearfix">
                <div>
                  <h2>{{ modelItem.name }}</h2>
                </div>
                <div>
                  <span class="float-right" [ngClass]="getClass(modelItem.status)">{{
                    modelItem.status }}</span>
                </div>
              </mat-card-title>
              <mat-card-subtitle class="web-GreyLight 1line">{{
                modelItem.metadata?.modelDetails.licenses[0].identifier || "-"}}
              </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p class="web-GreyLight 3line">{{ modelItem.description }}</p>
            </mat-card-content>

            <mat-card-actions class="wrapper" style="display: flex;justify-content: space-between;">
              <button mat-button disabled>
                Fine Tune
              </button>
              <button mat-button disabled>
                Deploy
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </ng-container>
    <ng-container *ngIf="model.modelsWithoutMetadata?.length == 0 && model.modelsWithMetadata?.length == 0">
      <div class="container-fluid" style="text-align: center; font-size: smaller;">
          {{modelErrorMessage == ''? "No data found.":modelErrorMessage}}
      </div>
    </ng-container>
  </ng-container>
</div>