
<!--
 ================================================================================================================
 # ===============================================================================================================
 # Copyright 2025 Infosys Ltd.
 # Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at
 # http://www.apache.org/licenses/
 # ===============================================================================================================
 ================================================================================================================
-->
<div class="secondary_style marT8" style="background-color: white;">
    <ng-container>
        <mat-tab-group disableRipple [(selectedIndex)]="model.selectedL1TabIndex">
            <ng-container>
                <ng-container *ngIf="model.l1RowLeaderboardEnabled || model.standaloneFlag">
                    <mat-tab label="Leaderboard" class="mat-tab-sm">
                        <ng-template matTabContent>
                            <mat-tab-group disableRipple [(selectedIndex)]="model.selectedL2TabIndex">
                                <ng-container >
                                    <!-- CODE -->
                                    <ng-container *ngIf="!model.l2RowEnabled && model.modality === 'code'">
                                        <mat-tab label="Code" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-code-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'code' ? model.benchmarkName:''" [toDate]="model.modality === 'code' ? model.toDate:''" [fromDate]="model.modality === 'code' ? model.fromDate:''" (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-code-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <ng-container #codeBlock *ngIf="model.standaloneFlag || model.l2RowEnabled">
                                        <mat-tab label="Code" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-code-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'code' ? model.benchmarkName:''" [toDate]="model.modality === 'code' ? model.toDate:''" [fromDate]="model.modality === 'code' ? model.fromDate:''" (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-code-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <!-- TEXT -->
                                    <ng-container *ngIf="!model.l2RowEnabled && model.modality === 'text'">
                                        <mat-tab label="Text" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-text-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'text' ? model.benchmarkName:''" [toDate]="model.modality === 'text' ? model.toDate:''" [fromDate]="model.modality === 'text' ? model.fromDate:''" (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-text-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <ng-container #textBlock *ngIf="model.standaloneFlag || model.l2RowEnabled">
                                        <mat-tab label="Text" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-text-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'text' ? model.benchmarkName:''" [toDate]="model.modality === 'text' ? model.toDate:''" [fromDate]="model.modality === 'text' ? model.fromDate:''" (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-text-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <!-- EMBEDDING -->
                                    <ng-container *ngIf="!model.l2RowEnabled && model.modality === 'embedding'">
                                        <mat-tab label="Embedding" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-embedding-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'embedding' ? model.benchmarkName:''" [toDate]="model.modality === 'embedding' ? model.toDate:''" [fromDate]="model.modality === 'embedding' ? model.fromDate:''"  (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-embedding-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <ng-container #embeddingBlock *ngIf="model.standaloneFlag || model.l2RowEnabled">
                                        <mat-tab label="Embedding" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-embedding-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'embedding' ? model.benchmarkName:''" [toDate]="model.modality === 'embedding' ? model.toDate:''" [fromDate]="model.modality === 'embedding' ? model.fromDate:''" (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-embedding-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <!-- RAG -->
                                    <ng-container *ngIf="!model.l2RowEnabled && model.modality === 'rag'">
                                        <mat-tab label="RAG" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-rag-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'rag' ? model.benchmarkName:''" [toDate]="model.modality === 'rag' ? model.toDate:''" [fromDate]="model.modality === 'rag' ? model.fromDate:''"  (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-rag-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                    <ng-container #ragBlock *ngIf="model.standaloneFlag || model.l2RowEnabled">
                                        <mat-tab label="RAG" class="mat-tab-sm">
                                            <ng-template matTabContent>
                                                <div class="matTabContent wrapper">
                                                    <app-rag-leaderboard [standaloneFlag]="model.standaloneFlag" [modelName]="model.modelName" [modelFlag]="model.modelFlag" [leaderboardHeight]="model.leaderboardHeight" [leaderboardWidth]="model.leaderboardWidth" [benchmarkName]="model.modality === 'rag' ? model.benchmarkName:''" [toDate]="model.modality === 'rag' ? model.toDate:''" [fromDate]="model.modality === 'rag' ? model.fromDate:''" (resetFiltersFlag)="onResetFilters($event)" [standaloneFlag]="model.standaloneFlag" [exeModelName]="model.exeModelName"></app-rag-leaderboard>
                                                </div>
                                            </ng-template>
                                        </mat-tab>
                                    </ng-container>
                                </ng-container>
                                <!-- NoData -->
                                <ng-container *ngIf="!model.l2RowEnabled && model.noDataMsg">
                                    <mat-tab label="NoData" class="mat-tab-sm">
                                        <ng-template matTabContent>
                                            <div class="matTabContent wrapper">
                                                <td colspan="17" class="text-center" style="display: flex;  text-align: center;">No Data Found
                                                </td>
                                            </div>
                                        </ng-template>
                                    </mat-tab>
                                </ng-container>
                            </mat-tab-group>
                        </ng-template>
                    </mat-tab>
                </ng-container>
                <ng-container *ngIf="model.l1RowBenchmarkEnabled || model.standaloneFlag">
                    <mat-tab label="Benchmark" class="mat-tab-sm">
                        <ng-template matTabContent>
                            <mat-tab-group disableRipple>
                                <ng-container>
                                    <mat-tab label="Submit" class="mat-tab-sm">
                                        <ng-template matTabContent>
                                            <app-job-submit [modelListData]="model.modelListData" [projectId]="model.projectId" [userId]="model.userId" [standaloneFlag]="model.standaloneFlag" [jobHeight]="model.jobHeight" [submitWidth]="model.submitWidth" style="display: flow;" [style.height.px]="model.submitHeight" (showPopup)="showPopup.emit(true)" [submitBenchmark]="submitBenchmark" ></app-job-submit>
                                        </ng-template>
                                    </mat-tab>
                                    <mat-tab label="History" class="mat-tab-sm">
                                        <ng-template matTabContent>
                                            <app-job-list [standaloneFlag]="model.standaloneFlag" [jobHeight]="model.jobHeight" [listWidth]="model.listWidth" style="display: flow;" [style.height.px]="model.listHeight" [redirectedViewPath]="model.redirectedViewPath" (selectedBenchmarkData)="onSelectedBenchmarkData($event)"></app-job-list>
                                        </ng-template>
                                    </mat-tab>
                                </ng-container>
                            </mat-tab-group>
                        </ng-template>
                    </mat-tab>
                </ng-container>
            </ng-container>
        </mat-tab-group>
    </ng-container>
</div>