::ng-deep.secondary_style .mat-tab-label,
.secondary_style .mat-tab-link {
  height: 25px !important;
  font-size: 15px !important;
}

.mat-tab-sm {
    height: 25px !important;
    font-size: 17px !important;
  }